table, th, td {
   border: 2px solid #000047;
}
body{
background-image: url("../static/purple.jpg");
background-attachment: fixed;
}
table {
font-size: 20px;
    width: 100%;
    font-family: "Comic Sans MS"

}

th {
    height: 50px;
text-align: center;
background-image: url("../static/db.jpg");
color: white;
}
td {
vertical-align: center;
text-align: center;
}
#head {
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
@keyframes example{
0% {background: #FF0000}
25% {background: #8599AC}
50% {background: #009933}
75% {background: ##E6005C}
100% {background: #5C005C}
}
#head {
    border-radius: 25px;
    background: #8AC007;
    padding: 20px;
    width: 650px;
    height: 50px;
    font-size: 30px;
    font-family: "Segoe Print"
}
#person{
border: 15px solid #00004A;
    border-radius: 500px;
    width: 250px;
    transition: width 2s, height 2s, transform 2s;
    	box-shadow:  0 0 3px #33336E, 0 0 5px #FFFFFF;
}
#person:hover {
width: 500px;
height: 500px;
transform: rotate(360deg);
}
div.img {
    margin: 150px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
    transition: width 1s, height 1s, transform 2s;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img:hover {
    border: 1px solid #0000ff;
    opacity: 1.0;
    filter: alpha(opacity=100);
}
div.qwerty {
        transition: width 1s, height 1s, transform 2s;
    opacity: 0.4;
    filter: alpha(opacity=40);

}
div.qwerty:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
img.qw {
    border: 5px solid #FF0000;
    border-radius: 15px;
    box-shadow: 0 0 3px #8080CC, 0 0 5px #FFFFFF;
}

