<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../static/home.css" type="text/css" media="screen">
</head>
<body>
<center><img src="../static/title.png" id="img1"></center>
<marquee><center><p class="head">Computer Science and Engineering Department</p></center></marquee>
<center><p id="ass">Assignment 5- Web Designing(ITWS-I)</p></center><br>
<center><div><a href="intro1.html"><img src="../static/dev.jpg" class="img1"></a><div class="desc">Click to know about Developers</div></div></center><br><br>
<center><div><a href="avg.html"><img src="../static/aver.png" class="img1"></a><div class="desc">Click to go to find average of numbers</div></div></center><br><br>
<center><div><a href="integrate.html"><img src="../static/int.jpg" class="img1"></a><div class="desc">Click to find value of Definite Integral</div></div></center><br><br>
</body>
</html>
