<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>INTRODUCTION</title>
    <link rel="stylesheet" type="text/css" href="../static/intro.css">
</head>
<body>
<marquee><p id="head">Get to know the members of the team !!!!</p></marquee>
<div class="img">
 <a href="intro1.html"><img src="../static/vivek.jpg" alt="vivek" width="110" height="90"></a>
 <div class="desc">Vivek Sourabh</div>
</div>
<div class="img">
 <a href="intro2.html"><img src="../static/VinB.jpg" alt="vinayaka" width="110" height="90"></a>
 <div class="desc">Vinayaka Batwara</div>
</div>
<div class="img">
 <a href="intro3.html"><img src="../static/ara.jpg" alt="aravind" width="110" height="90"></a>
 <div class="desc">Daparasu Aravind</div>
</div>
<center><img src="../static/vivek.jpg" id="person"></center><br>
<table style="width:100%">
    <tr class="top"><th colspan="2">About the person</th></tr>
    <tr><td class="left">Name</td>
        <td class="right">Vivek Sourabh</td>
    </tr>
        <tr><td class="left">Father's Name</td>
        <td class="right">Vinay Kumar Singh</td>
    </tr>
        <tr><td class="left">Mother's Name</td>
        <td class="right">Tarun Shashi</td>
    </tr>
        <tr><td class="left">Date of Birth</td>
        <td class="right">28 Jan. 1997</td>
    </tr>
        <tr><td class="left">Hometown</td>
        <td class="right">Jamshedpur</td>
    </tr>
        <tr><td class="left">Age</td>
        <td class="right">18</td>
    </tr>
    <tr><td class="left">Phone Number</td>
        <td class="right">+91 8874406449</td>
    </tr>
<tr class="top"><th colspan="2">Academic Details(before college)</th></tr>
        <tr><td class="left">School Name(upto std.10)</td>
        <td class="right">Vidya Bharati Chinmaya Vidyalaya</td>
    </tr>
        <tr><td class="left">Percentage/CGPA(in st 10)</td>
        <td class="right">10.0</td>
    </tr>
        <tr><td class="left">School Name(std 11-12)</td>
        <td class="right">Hans Raj Model School</td>
    </tr>
        <tr><td class="left">Percentage(in std 12)</td>
        <td class="right">96%</td>
    </tr>
        <tr><td class="left">JEE Mains Rank(AIR)</td>
        <td class="right">3047</td>
    </tr>
        <tr><td class="left">JEE Advanced Rank(AIR)</td>
        <td class="right">4037</td>
    </tr>
    <tr class="top"><th colspan="2">Academic Detalis(in college)</th></tr>
        <tr><td class="left">Name of College</td>
        <td class="right">Indian Institute of Technology(BHU), Varansai</td>
    </tr>
        <tr><td class="left">Branch</td>
        <td class="right">Computer Science and Engineering</td>
    </tr>
        <tr><td class="left">Course</td>
        <td class="right">B.Tech</td>
    </tr>
        <tr><td class="left">Roll No.</td>
        <td class="right">14075059</td>
    </tr>
    <tr class="top"><th colspan="2">Courses Taken</th></tr>
        <tr><td class="left">First Semester</td>
        <td class="right">Engineering Mathematics I (MA-101)<br>
        Physics I (PHY-101)<br>
        Biology(BO-101)<br>
            Numerical Analysis and Computer Programming(CSE-101)<br>
            Manufacturing Practices - I (ME-104)<br>
            Human Value  - I (HU-101)<br>
            Physical Education(GY-101)
        </td>
    </tr>
        <tr><td class="left">Second Semester</td>
        <td class="right">Engineering Mathematics II (MA-102)<br>
        Engineering Mechanics(CMO-102)<br>
        Information Technology Workshop - I(ITWS-1)<br>
        Fundamentals of Electrical Engineering(EO-101)<br>
        Engineering Drawing<br>
        Manufacturing Practices- II (ME-105)<br>
        Education and Self (HU-106)</td>
    </tr>


</table><br>
<center><div class="qwerty"><a href="home.html"><img src="../static/ghome.png" class="qw"></a></div></center>
</body>
</html>
